
@font-face{
    font-family:'itcagg4';
    src:url("./fonts/36EC2D_4_0.woff2") format('woff2');
    font-style:normal;
    font-display: swap;
}

@font-face{
    font-family:'itcagg2';
    src:url("./fonts/36EC2D_2_0.woff2") format('woff2');
    font-style:normal;
    font-display: swap;
}

*,*::after,*::before {
    font-family:'itcagg', sans-serif;
    font-weight: 300;
}

body{
    
    


}