
@font-face{
    font-family:'itcagg4';
    src:url("./fonts/36EC2D_4_0.woff2") format('woff2');
    font-style:normal;
    font-display: swap;
}

@font-face{
    font-family:'itcagg2';
    src:url("./fonts/36EC2D_2_0.woff2") format('woff2');
    font-style:normal;
    font-display: swap;
}

*,*::after,*::before {
    font-family:'itcagg', sans-serif;
    font-weight: 300;
}

:root{
    /* colors */
    --cp-primary:#0a3250;
    --cp-primary-hover:#061e30;
    --cp-secondary:#46aa64;
    --cp-secondary-hover:#2a5f3a;
    --cp-white:#ffffff;
    --cp-grey:#dfe4e5;
    --cp-tertairy:#c8e5d0;
   
    /* padding body */
    --pb:.4fr;
    /* varriable gap */
    --vg-n:1.4rem;
    --vg-s:calc(var(--vg-n)/2);
     /* global curve */
     --g-c:1.5em;
     /* minimal curve */
     --m-c:4px;

     --margin-s: 1rem;

}


.banner{

}

.components-grid{
   
}

.intro{

    >h1{
        font-family:'itcagg4';
        color: var(--cp-primary);
    }
}

.list{
    font-family:'itcagg4';

}

.container-components{
/* stuff */
}
.components{
    color: var(--cp-secondary);

}
.compo-text strong {
color: var(--cp-secondary);
}


/* typography section */

#Typography > .components .headings{
       
    text-align: center;
    


    :nth-child(1){
    /* outline: solid; */
    background-color: var(--cp-grey);
    font-size: 2.8rem;
    font-family:'itcagg4';
    max-width:15rem ;
    }
    :nth-child(2){
    color: var(--cp-primary);
    font-size: 2.8rem;
    font-family:'itcagg4';
    max-width:15rem ;
    }
    :nth-child(3){
    background-color: var(--cp-primary);
    color: var(--cp-white);
    font-size: 2.8rem;
    font-family:'itcagg2';
    max-width:15rem ;
    
    }
    :nth-child(4){
    background-color: var(--cp-tertairy);
    color: var(--cp-primary);
    font-size: 2.8rem;
    font-family:'itcagg4';
    max-width:15rem ;
    }
    
}
#Typography > .components .t-elements{
   /* font size */
    --fs-n:1rem;
    
    padding: 2px;
    
    :nth-child(1){
    /* outline: solid red; */
    /* background-color: var(--cp-grey); */
    font-size: var(--fz-n);
    font-family:'itcagg2';
    }
    :nth-child(2){
    color: var(--cp-primary);
    font-size: var(--fz-n);
    font-family:'itcagg2';
    }
    :nth-child(3){
    /* background-color: var(--cp-primary); */
    /* color: var(--cp-white); */
    font-size: var(--fz-n);
    font-family:'itcagg2';
     color: var(--);
    
    }
    :nth-child(4){
    /* background-color: var(--cp-tertairy); */
    color: var(--cp-primary);
    font-size: var(--fz-n);
    font-family:'itcagg2';
    }
    :nth-child(5){
    /* background-color: var(--beige2); */
    color: black;
    font-size: var(--fz-n);
    font-family:'itcagg2';
    }
}
#Typography > .components .t-font{
   --fz-n:1rem;
    text-transform: uppercase;
    padding: 2px;
    line-height: 1.5;
    
    :nth-child(1){
    background-color: var(--cp-white);
    font-size: calc(var(--fz-n) * 1.5);
    font-family:'itcagg';
    }
    :nth-child(2){
        background-color: var(--cp-white);
        color: var(--cp-primary);
        font-size: calc(var(--fz-n) * 1.3);
        font-family:'itcagg2';
    }
    :nth-child(3){
    /* background-color: var(--cp-primary); */
    /* color: var(--cp-white); */
    font-size: var(--fz-n);
    font-family:'itcagg2';
    
    }
    
}


/* images and media section */
/* #images-media{

} */


/* buttons section */
#buttons li:nth-of-type(n) button{
    /* outline: solid orange; */
    width: 100%;
    height: 2em;
}
/* buttons */
#buttons{
    > .components article:nth-of-type(2){
        margin-top: var(--vg-n);
    }
      
    > .components article:nth-of-type(1) ul{
        font-family:'itcagg2';

        & > li:nth-of-type(1) button{
            background-color: var(--cp-primary);
            color: var(--cp-white);
            font-size: 2em;
            
            &:hover{
                background-color: var(--cp-primary-hover);
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.471);
            }
            &:active{
                outline: 3px solid cornflowerblue ;
            }
        }

        & > li:nth-of-type(3) button{
            background-color: var(--cp-secondary);
            color: var(--cp-white);
            font-size: 2em;
            
            &:hover{
                background-color: var(--cp-secondary-hover);
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.471);
            }
            &:active{
               scale:calc(1 - 0.008) ;
               outline: 3px solid var(--cp-grey);
            }
        }
        
        & > li:nth-of-type(2) button{
            background-color: var(--cp-primary);
            color: var(--cp-white);
            font-size: .1rem;
            width: 3rem;
            height: 3rem;
            
            &:hover{
                color:var(--cp-secondary);
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.471);
            }
            &:active{
               scale:calc(1 - 0.008) ;
            }
        }
        & > li:nth-of-type(5) {
            grid-column: button-start/mid
        }
        & > li:nth-of-type(5) button{
            background-color: var(--cp-tertairy);
            color: var(--cp-primary);
            font-size: 2rem;
            width: 3rem;
            height: 3rem;
            
            &:hover{
                color:var(--cp-secondary);
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.471);
            }
            &:active{
               scale:calc(1 - 0.008) ;
            }
        }
        & > li:nth-of-type(4) button{
            background-color: var(--cp-tertairy);
            color: var(--cp-white);
            font-size: 2em;
            
            &:hover{
                background-color: var(--cp-secondary-hover);
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.471);
            }
            &:active{
               scale:calc(1 - 0.008) ;
               outline: 3px solid var(--cp-grey);
            }
        }
        & > li:nth-of-type(6) {
            grid-column: mid/button-end
        }
        & > li:nth-of-type(6) button{
            background-color: var(--cp-white);
            color: var(--cp-secondary);
            font-size: 2rem;
            width: 3rem;
            height: 3rem;
            
            &:hover{
                color:var(--cp-primary);
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.471);
            }
            &:active{
               scale:calc(1 - 0.008) ;
            }
        }



    }
        > .components article:nth-of-type(2) ul{
            font-family:'itcagg2';

        & > li:nth-of-type(1) {
            grid-column: button-start/mid
        }
        & > li:nth-of-type(1) button{
            background-color: var(--beige2);
            border: 1.5px solid rgba(255, 255, 255, 0.577);
            border-radius: calc(var(--g-c) - .6em);
            color: black;
            width: 3rem;
            height: 3rem;
            font-size: 1rem;
           ;
            
            &:active{
               background-color: #0D00A4;
               color: var(--cp-white);
            }
        }
        & > li:nth-of-type(1) button::after{
            background-color: var(--beige2);
               width: 100px;
               height: auto;
              
        }

        & > li:nth-of-type(2) {
            grid-column: mid/button-end;
        }
        & > li:nth-of-type(2) button{
            background-color: rgba(255, 127, 80, 0.233);
            border: 1.5px solid rgba(255, 255, 255, 0.577);
            border-radius: calc(var(--g-c) - .6em);
            color: black;
            width: 3rem;
            height: 3rem;
            font-size: 1rem;
           

            &:active{
               background-color: #0D00A4;
               color: var(--cp-white);
            }
        }
        
    
    
    
    }
}


/* Navigations section*/
#navigation .components {
    font-family:'itcagg2';
    /* search */
    & > article:nth-of-type(1){
        background-color: var(--cp-primary);
        padding: var(--vg-n);
        margin: var(--vg-s);
    }
    & > article .search{
        outline:solid #0a3250;
        display: inline-flex;
        width: 100%;
        >input{
            all: unset;
            flex-grow: 1;
            background-color: var(--cp-white);
        }
        > button{
            all: unset;
            flex-basis: content;
            background-color: var(--cp-secondary);
            color: var(--cp-white);
            padding: 2px;
            display: grid;
            place-items: center;
           > svg{
                scale:0.8;
            }
        }
        > button:active{
            outline: 2px solid var(--cp-white);
            z-index: 2;
        }
    }
    & > article:nth-of-type(2){
        /* background-color: var(--cp-secondary); */
        padding: var(--vg-n);
    }
    /* Input date time */
    & > article .date-time-input{
        /* outline:solid orangered; */
        box-shadow: 0 0 0px 10px var(--cp-secondary) ;
        background-color: var(--cp-secondary);
        display:flex;
        justify-content:space-around;
        width: 100%;
        gap:var(--vg-s);
        color:var(--cp-primary);
        --height-input:3rem;
       
        >:nth-child(n){
           padding: .1em;
           font-size: 1rem;
           line-height: 90%;
           
           } 

        > input[type=date]{
           height: var(--height-input);
           
           flex-grow: 1;
           font-family:'itcagg4';
           display:flex;
           flex-direction: row-reverse;
           overflow: none;
           
        }
       

        > input[type=time]{
           height: var(--height-input);
          
           padding-left: 0px;
           flex-grow: 1;
           font-family:'itcagg4';
           display:flex;
           flex-direction: row-reverse;
           gap: 3px;
           
        }
        > button{
           height: var(--height-input);
           padding: 18px;
           flex-basis: 1;
           display: flex;
           place-items: center;
           gap: 3px;
           margin: 0;

        }
    }
    & > article:nth-of-type(3){
        margin: var(--vg-s);
        padding: 2em;
        background-color: var(--cp-secondary);
       
    }

    /* Tabs */
    & > article .tabs{
        display: flex;
        gap: var(--vg-s);
        color: var(--cp-white);
        justify-content: space-evenly;
        width: auto;
        
        
        >label:nth-of-type(n){
            display: flex;
            flex-direction: column;
            opacity: 0.7;
            width: min-content;
            > input[type="radio"]{
                appearance:none ;
                
            }
        }
        >label:nth-of-type(n) p{
            margin-top: var(--vg-s);
            opacity: 0;
        }
        >label:nth-of-type(n):hover{
            opacity: 1;
            > p{
                opacity: 1;
            }
        }



    }

}


    