*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
*:is(a , li){
    text-decoration: none;
    list-style: none;
}

.components-grid{
    display:grid;
    grid-template-columns: [full-start] minmax(var(--vg-n),var(--pb)) [side-start] minmax(min-content,var(--pb)) [compo-start] 1fr [compo-end] .5fr [side-end] minmax(var(--vg-n),var(--pb)) [full-end] ;
    gap: 0;
}

.components-grid > * {
    grid-column:compo ;

}



@font-face{
    font-family:'itc agg';
    src:url("./fonts/fa-brands-400.woff2") format('woff2');
    font-style:normal;
    font-weight:400;
    font-display: swap;
}



:root{
    --cp-blue:#0a3250;
    --cp-green:#46aa64;
    --cp-white:#ffffff;
    --cp-grey:#dfe4e5;
    --cp-lightgreen:#d4e9db;
    /* padding body */
    --pb:.4fr;
    /* varriable gap */
    --vg-n:1.4rem;
    --vg-s:calc(var(--vg-n)/2);
    /* border color */
    --border-color-n:#7f8d8460;
}



html{
    scroll-snap-type: proximity;
    scroll-behavior: smooth;
    scrollbar-width:none ;
    scroll-padding-top: 200px;

}

body{
    background-color: var(--cp-white);
    width: 100%;
    position: relative;
}

header{
    position: relative;
    top:0;
    width: 100%;
    

    >nav{
        width: 100%;
        display: grid;
        
        position: relative;
        
        height: 16vh;
        place-items: center;

        >:nth-child(1){
            position:absolute;
            /* left:50%; */
            /* top: 22px; */
            height: auto;
            scale: .8;
            /* display: none; */
            
        }
        >:nth-child(2){
            /* background-color: var(--cp-green); */
            position: absolute;
            right: 50px;
            top: 50px;
            color: var(--cp-green);
            scale:1.5
        }
    }
}

.banner{
    width: 100%;
    display: grid;
    position: relative;
    z-index: -2;
    overflow: hidden;
    place-items: center;

    >:nth-child(1){
        position:relative;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16/9;
        width: 100%;
        height: 60vh; 
        z-index: -4;
        
    }
    >:nth-child(2){
        position: absolute;
        bottom:5px;
        z-index: 2;
        scale: 1.2;
        object-position: bottom;
    }
}


.intro{
    position: sticky;
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
    top: 0px;
    bottom: 90px;

    margin: 1em;
    margin-bottom: 15vh;
    padding: var(--vg-n) 0px;

    text-align: start;
    text-transform: capitalize;
    
    background-color: var(--cp-white);
    backdrop-filter: blur(8px);
    >h1{
       grid-column: side;
       font-size: 2.8rem; 
       color: var(--cp-blue);
    }

    >p{
        grid-column: side;
        font-size: 1.2em; 
        line-height: 140%;
        margin-top: 11px;
    }
}

.list{
    grid-column-start:side-start ;
    grid-column-end:compo-start ;
    /* outline: solid; */
    width: 100%;
    
    
    
    & ul{
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 20vh;
    }

    & li {
        /* outline: solid red; */
        margin-top: 10px ;
        height: auto;
        width: 100%;
        text-transform: capitalize;

        > a {
            color:var(--cp-blue);
            width: inherit;
            /* outline: solid; */
            text-align: center;
        }

        >svg{
            /* color:var(--cp-green); */
            padding-top: 5px;
            translate: 0 4px;
        }

        

       
    }
    & li a:hover{
        box-shadow: 0 3px 1px 0 var(--border-color-n);
    }
    
}

.list li:nth-of-type(5) svg {
    color:transparent;
}


.container-components{
    grid-column:compo-start/side-end;
    display: grid;
    grid-template-columns: subgrid;
    scroll-snap-type:mandatory ;
    
    /* margin-bottom: var(--vg-n); */

    >.block{
       display: grid; 
       grid-template-columns: subgrid;
       grid-template-rows: .4fr 2fr ;
       grid-column:compo-start/side-end;
       border-bottom: solid var(--border-color-n);
       padding-bottom: var(--vg-n);
       padding-top: var(--vg-s);
       min-height: 30vh;
       
       overflow: hidden;
       scrollbar-width:none ;
       scroll-snap-type:proximity;
       /* outline: solid; */

        >h2{
            text-transform: capitalize;
            padding: 0px 8px;  
            
        }

        >:nth-child(n){
            /* outline: solid; */
        }
        > div article:nth-last-of-type(n+2){
            margin-bottom: var(--vg-s);
            border-bottom: solid var(--border-color-n);
            padding-bottom: var(--vg-n);
        }
       
    }
}


.components{
    grid-column: compo;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: .6fr 1fr 1fr;
    padding: 12px;
    /* outline: solid red; */
   
}
.compo-text{
    grid-column:compo-end/side-end;
    /* display: grid; */
    grid-template-columns: subgrid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    border-left: 1px solid #9aafa175;
    padding-left: var(--vg-s);


   
    >article:nth-of-type(1){
        grid-row:1/2
    }
    >article:nth-of-type(2){
        grid-row:2/3
    }
    >article:nth-of-type(3){
        grid-row:3/4
    }

}

#Typography{
   
    /* > div article:nth-of-type(n){
        margin-bottom: var(--vg-s);
        border-bottom: solid var(--border-color-n);
        padding-bottom: var(--vg-n);
    } */

    > div .headings{
        grid-row:2/3 ;
       
    }
    > div .t-elements{
        grid-row:3/4 ;
    }
}

#Typography > .components{
    height: 65vh;
    overflow-y: scroll;  
 }
/* #Typography > .components::-webkit-scrollbar {
    display: none;
  } */
/* #Typography:hover :-webkit-scrollbar {
    display:block;
  } */





#images-media{}

#buttons{
    /* height: fit-content; */
    > .components{
        height: 65vh;
        /* overflow-y: scroll;   */
    }
    > .components ul{
        display: grid;
        grid-template-columns: [border-start] minmax(0px,.3fr) [button-start] 1fr [mid] 1fr [button-end] minmax(0px,.3fr) [border-end]  ;
        grid-template-rows: auto;
        gap: var(--vg-n);
        /* background-color: #46aa64; */

        > li{
            grid-column: button;
        }
    }

}
